.content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	box-shadow: outset 0px 0px 18px 10px rgb(104 104 104);
	//border: 5px solid black;
	margin: 0 auto;
	padding-bottom: 100%;
	user-select: none;
}

.won {
	pointer-events: none;
}
